h1{
    margin: 0;
    padding: 0;
}
#cool-title {
    font-family: comic sans ms;
    text-align: center;
    
}

#nugger {
    display: flex;
    justify-content: center;
    height: 360px;
}

.nigga-font {
    font-family: fantasy;
    text-decoration: underline;
    text-align: center;
}

#doggerinos {
    display: flex;
    justify-content: center;
    height: 380px;
}

.nigga-buttons {
   display: flex;
    justify-content: center;
}

#special-font {
    font-family: serif;
    font-size: 3em;
    text-align: center;
    color: darkred;
    text-shadow: 2px 2px darkgray;
}
